<div class="card-body">
     <form action="/auth/facebook" method="GET">
        <button type='submit' class="btn btn-primary btn-block">
            <span class="fa fa-facebook"></span>
            LogIn con Facebook
        </button>
    </form>
</div>